@charset "UTF-8";
/* @import url(footer.css);
@import url(header.css);
@import url(buttons.css); */
@import url(colors.css);
@import url(texttypes.css);
@import url(dropshadow.css);
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    /* max-width: 90rem; */
    /* font-family: "Rubik", sans-serif; */
    font-style: normal;
    font-size: 16px;
}
main {
    /* max-width: 90rem; */
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* RWD: */
img {
    width: 100%;
    height: auto;
    display: block;
}
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.flex4 {
    flex: 4;
}
.flex5 {
    flex: 5;
}
.flex6 {
    flex: 6;
}