@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: "Poppins", serif;
font-weight: 100;
font-style: normal;
*/

body, h1, h2, h3, h4, .caption {
    font-family: "Poppins", serif;
    font-style: normal;
}

/* WEIGHT*/
h1, h2, h3, h4 {
    font-weight: 700;
}
.body1, .body2, .body3, .caption {
    font-weight: 400;
}

/* SIZE */
h1 {
    font-size: 1.5rem;
}
h2, .body1 {
    font-size: .875rem;
}
h3, .body2 {
    font-size: .75rem;
}
h4, .body3 {
    font-size: .625rem;
}
.caption {
    font-size: .667rem;
}


/* LINE HEIGHT */
h1 {
    line-height: 2rem;
} 
h2, h3, h4, .body1, .body2, .body3 {
    line-height: 1rem;
} 
.caption {
    line-height: .75rem;
} 

